div .el-card {
    margin-top: 5px;
    height: 89.1vh;
    overflow-y: auto; /* 当内容超出时显示垂直滚动条 */
}

/* 超出table的进行隐藏处理 */
.ellipsis {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.input_search {
    width: 200px;
    margin-left: 10px;
    margin-right: 2px;
}

/*分页*/
.pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.head_filter_criteria,
.head_search {
    margin-bottom: 10px;
}
