@media screen and (max-width: 700px) {
    .el-date-range-picker .el-picker-panel__body {
        display: table-footer-group;
    }

    .el-popper[x-placement^=bottom] {
        margin-top: 7px;
    }

    .el-date-range-picker {
        width: 92.6% !important;
        left: 8px !important;
    }

    .el-date-range-picker__content {
        padding: 8px;
    }

    .el-date-range-picker__content .el-date-range-picker__header div {
        margin-left: 34px;
        margin-right: 34px;
    }

    .el-date-range-picker__header div {
        font-size: 12px;
        font-weight: 500;
        margin-right: 40px;
    }

    .el-date-table {
        font-size: 10px;
    }

    .el-date-table th {
        padding: 2px;
    }

    .el-date-table td {
        padding: 0;
    }

    .el-date-range-picker__time-header {
        font-size: 10px;
        padding: 2px;
        width: 100%;
    }

    .el-input--small .el-input__inner {
        height: 20px;
        line-height: 20px;
        font-size: 8px;
    }

    .el-date-range-picker__time-header > .el-icon-arrow-right {
        font-size: 12px;
    }

    .el-date-range-picker__header {
        height: 20px;
    }

    .el-date-range-picker__editor .el-input__inner {
        padding: 0 12px;
    }

    .el-date-table td span {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }

    .el-date-editor .el-range-separator {
        line-height: 30px;
        font-size: 10px;
        padding: 0 7px;
    }

    .el-date-editor .el-range__icon {
        font-size: 10px;
        line-height: 30px;
    }

    .el-date-editor .el-range__close-icon {
        font-size: 10px;
        width: 10px;
        line-height: 30px;
    }

    .el-date-editor .el-range-input {
        font-size: 10px;
    }

    /* 下拉框字体大小*/
    .el-select-dropdown__item {
        font-size: 10px !important;
        height: 25px !important;
        line-height: 30px !important;
    }
    .el-select-dropdown__item span {
        font-size: 10px !important;
    }

    /*搜索按钮*/
    .el-radio-button--small .el-radio-button__inner {
        padding: 7px 12px;
        font-size: 10px;
        border-radius: 0;
    }

    /*完成事项提示弹出窗*/
    .el-message-box__wrapper {
        top: 10px !important;
    }

    .el-message-box {
        width: 340px !important;
    }
    /*液态框*/
    .el-dialog {
        margin-top: 0 !important;
        width: 100% !important;
    }

}
